/Exercises/out/
/Exercises/.idea/
/Exercises/Exercises.iml
/Demos/.idea/
/Demos/out/
/Demos/DesignPatterns.iml
/Demos/Demos.iml
/out/
/.idea/
/Solutions/.idea/
/Solutions/Solutions.iml
/Solutions/out/
